@import '../common/color.scss';

.itemWrap {
  width: 100%;
  display: flex;
  justify-content: center;
}

.item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 90px 20px;
  width: 100%;

  @media (max-width: 840px) {
    grid-template-columns: repeat(1, 1fr);
    width: 500px;
  }

  @media (min-width: 1100px) {
    width: 1060px;
  }
}

.imageArea {
  @media (max-width: 840px) {
    order: 0 !important;
  }
}

.image {
  border-radius: 3px;
  width: 100%;
  display: block;
}

.subTitle {
  font-size: 30px;
  font-weight: 900;
  color: $font-color-blue;
  
  @media (max-width: 840px) {
    font-size: 20px;
  }
}

.title {
  font-size: 50px;
  font-weight: 900;
  color: black;
  margin-bottom: 16px;
  word-break: break-all;

  @media (max-width: 840px) {
    font-size: 40px;
  }
}

.description {
  color: $font-color-dark;
  word-break: break-all;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 16px;
}