@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
@import '../common/color.scss';

.profile {
  background-color: $background-color-black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topWrap {
  padding: 100px 20px 20px 20px;
  display: flex;
  justify-content: center;

  @media (max-width: 840px) {
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: 1100px) {
    width: 1060px;
  }
}

.textArea {
  width: 50%;
  margin-right: 20px;

  @media (max-width: 840px) {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.subTitle {
  font-size: 40px;
  font-family: 'Italianno', cursive;
  color: $font-color-blue;
}

.title1 {
  font-size: 40px;
  font-family: 'Poppins', sans-serif;
  color: $font-color-white;
  margin-bottom: -20px;
  letter-spacing: -2px;
  // word-break: break-all;

  @media (max-width: 840px) {
    text-align: center;
  }

  @media (min-width: 1100px) {
    font-size: 50px;
    margin-bottom: -30px;
  }
}

.title2 {
  font-size: 40px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  color: $font-color-white;
  margin-bottom: 16px;
  // word-break: break-all;

  @media (max-width: 840px) {
    text-align: center;
  }

  @media (min-width: 1100px) {
    font-size: 50px;
    margin-bottom: 10px;
  }
}

.description {
  color: $font-color-grey;
  margin-bottom: 48px;
  word-break: break-all;

  p {
    margin-bottom: 6px;
  }
  
  @media (max-width: 840px) {
    text-align: center;
  }
}

.firstButton {
  margin-right: 10px;
  @media (max-width: 840px) {
    margin-right: 0px;
    margin-bottom: 16px;
  }
}

.secondButton {
  @media (max-width: 840px) {
    margin-bottom: 16px;
  }
}

.imageArea {
  width: 50%;
  @media (max-width: 840px) {
    width: 500px;
  }
  @media (max-width: 540px) {
    width: 100%;
  }
}

.image {
  width: 100%;
  border-radius: 3px;
  display: block;
}

.bottomWrap {
  position: relative;
  width: 100%;
  padding-bottom: 20px;

  @media (min-width: 1100px) {
    width: 1100px;
  }
}

.itemWrap {
  margin: 0 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  
  @media (max-width: 840px) {
    grid-template-columns: repeat(2, 1fr);
  }
  
  @media (max-width: 540px) {
    grid-template-columns: repeat(1, 1fr);
  }
}