@import '../common/color.scss';

.profile {
  background-color: $background-color-black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topWrap {
  padding: 100px 20px 20px 20px;
  display: flex;
  justify-content: center;
  background-color: rebeccapurple; //

  @media (max-width: 840px) {
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: 1100px) {
    width: 1060px;
    // background-color: dodgerblue; //
  }
}

.textArea {
  // background-color: dodgerblue; //
  width: 50%;
  margin-right: 20px;

  @media (max-width: 840px) {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.subTitle {
  font-size: 24px;
  color: $font-color-blue;
  margin-bottom: 20px;
}

.title {
  font-size: 36px;
  color: $font-color-white;
  margin-bottom: 16px;
  word-break: break-all;

  @media (max-width: 840px) {
    text-align: center;
  }
}

.description {
  color: $font-color-grey;
  margin-bottom: 48px;
  word-break: break-all;
  
  @media (max-width: 840px) {
    text-align: center;
  }
}

.firstButton {
  margin-right: 10px;
  @media (max-width: 840px) {
    margin-right: 0px;
    margin-bottom: 16px;
  }
}

.secondButton {
  @media (max-width: 840px) {
    margin-bottom: 16px;
  }
}

.imageArea {
  width: 50%;
  @media (max-width: 840px) {
    width: 500px;
  }
  @media (max-width: 540px) {
    width: 100%;
    background-color: dodgerblue;
  }
}

.image {
  width: 100%;
  border-radius: 3px;
}

.bottomBumper {
  // padding: 0 20px;
  position: relative;
  width: 100%;
  height: 200px;
  background-color: palegoldenrod; //

  @media (min-width: 1100px) {
    width: 1060px;
    background-color: dodgerblue; //
  }
}

.itemWrap {
  // padding: 0 20px;
  width: 100%;
  position: absolute;
  top: 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  
  @media (max-width: 840px) {
    grid-template-columns: repeat(2, 1fr);
  }
}