@import '../common/color.scss';

.item {
  padding: 50px 20px;
  background-color: #282b30;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
}

.icon {
  text-align: center;
  margin-bottom: 30px;
}

.title {
  color: $font-color-white;
  font-size: 20px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 20px;
}

.description {
  color: $font-color-grey;
  text-align: center;
}