.item {
  display: flex;
  justify-content: center;
  padding: 40px 0;
  border-bottom: solid 1px #cccccc;
}

.imageArea {
  
}

.image {
  width: 368px;
  border-radius: 3px;
}

.textArea {
  margin-left: 64px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  margin-bottom: 16px;
}

.description {
  color: #707070;
  height: 100%;
  margin-bottom: 16px;
}

.buttons {

  // justify-self: flex-end;
}