@import '../common/color.scss';

.item {
  color: $font-color-white;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 8px;
}

.navWrap {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  z-index: 10;
}

.background {
  background-color: rgba(0, 0, 0, 0.651);
  width: 100%;
}

.nav {
  background-color: #23262a;
  width: 200px;
  flex-shrink: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}