@import '../common/color.scss';

.item {
  margin-bottom: 8px;
  padding: 10px 0;
  width: 100%;
  border-bottom: #333333 solid 1px;
  text-align: right;
  
  a {
    cursor: pointer;
    color: $font-color-white;
    font-weight: 500;
  }
}

.navWrap {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  z-index: 10;
}

.background {
  background-color: rgba(0, 0, 0, 0.651);
  width: 100%;
}

.nav {
  background-color: #23262a;
  width: 200px;
  flex-shrink: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
}